In [431]:
import pandas as pd

In [456]:
df = pd.read_csv('results.csv',sep="|",names=["nr","user","timestamp","text","like1","like2","video_views"],parse_dates=["timestamp"])

In [457]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23913 entries, 0 to 23912
Data columns (total 7 columns):
nr             23913 non-null int64
user           23913 non-null object
timestamp      23913 non-null object
text           23913 non-null object
like1          23913 non-null object
like2          23913 non-null object
video_views    23913 non-null object
dtypes: int64(1), object(6)
memory usage: 1.3+ MB

In [458]:
df.timestamp.value_counts().head(4)

Error                       624
2020-06-17T11:29:44.000Z      2
2019-12-09T16:33:11.000Z      2
2019-10-10T16:01:03.000Z      2
Name: timestamp, dtype: int64

In [459]:
df = df[df.timestamp != "Error"]

In [460]:
df = df.drop(columns=['nr'])

In [461]:
len(df)

23289

In [462]:
df = df.drop_duplicates()

In [463]:
len(df)

23275

In [464]:
df["date"] = pd.to_datetime(df.timestamp)

In [465]:
df["date_year_month"] = df['date'].apply(lambda x: x.strftime('%Y-%B'))

In [466]:
df["date_year_month2"] = df['date'].apply(lambda x: x.strftime('%Y-%m'))

In [467]:
df["date_year_week"] = df['date'].apply(lambda x: x.strftime('%Y-%W'))

In [468]:
df[df.like1 != "Error"]

,user,timestamp,text,like1,like2,video_views,date,date_year_month,date_year_month2,date_year_week
1098,https://www.instagram.com/paola,2019-10-31T16:09:53.000Z,>Happy Halloween ðŸŽƒ<br><br>Letztes Bild ðŸ˜‚ Wer v...,137.332,Error,Error,2019-10-31 16:09:53+00:00,2019-October,2019-10,2019-43
9328,https://www.instagram.com/leoobalys,2019-12-05T15:03:20.000Z,>GlÃ¼ck ist die Summe schÃ¶ner Erinnerungen.ðŸ’™<br...,136.019,Error,Error,2019-12-05 15:03:20+00:00,2019-December,2019-12,2019-48

In [469]:
df.at[1098, 'like2'] = "137.332"
df.at[9328, 'like2'] = "136.019"

In [470]:
df = df.drop(columns=['like1'])

In [471]:
df = df.rename(columns={"like2": "likes", "user": "url"})

In [472]:
def clean_url(url):
    result = url
    if url[-1] == "/":
        result = url[:-1]
    return(result)

In [473]:
df["url"] = df.url.apply(lambda x: clean_url(x))

In [474]:
df["user"] = df.url.apply(lambda x: x[26:])

In [478]:
df.head()

,url,timestamp,text,likes,video_views,date,date_year_month,date_year_month2,date_year_week,user
0,https://www.instagram.com/lisaandlena,2020-07-08T14:35:37.000Z,>â€žBe the first to be able to laugh at yourself...,206.147,Error,2020-07-08 14:35:37+00:00,2020-July,2020-07,2020-27,lisaandlena
1,https://www.instagram.com/lisaandlena,2020-07-05T19:33:47.000Z,"title=""Bearbeitet"">Sunset + great walk throug...",177.308,Error,2020-07-05 19:33:47+00:00,2020-July,2020-07,2020-26,lisaandlena
2,https://www.instagram.com/lisaandlena,2020-07-04T16:24:07.000Z,>Polaroids are just the best!!,158.780,Error,2020-07-04 16:24:07+00:00,2020-July,2020-07,2020-26,lisaandlena
3,https://www.instagram.com/lisaandlena,2020-07-03T05:04:25.000Z,"title=""Bearbeitet"">- Anzeige -<br>Weâ€˜re so ex...",289.574,Error,2020-07-03 05:04:25+00:00,2020-July,2020-07,2020-26,lisaandlena
4,https://www.instagram.com/lisaandlena,2020-06-29T13:43:17.000Z,>What do u think about secondhand? ðŸ•°,200.256,Error,2020-06-29 13:43:17+00:00,2020-June,2020-06,2020-26,lisaandlena

In [482]:
df["likes"] = df.likes.apply(lambda x: x.replace(".",""))

In [483]:
df.to_csv("results_cleaned.csv",sep="|")